/* RESET */
* 
{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    scroll-behavior: smooth;
}

:root
{
    --bkcolor1: #f1f1f1;
    --bkcolor2: #307ff5;
    --bkcolor3: #212121;
    --bkcolor4: #757575;

    --txtcolor1: #3e1e56;
    --txtcolor2: #212121;
    --txtcolor3: #f1f1f1;

    --ftsize1: 1.6rem;
    --ftsize2: 1.8rem;
    --ftsize3: 1.4rem;

    --ftweight1: 500;
    --ftweight2: 700;
}

body 
{
    font-family: "Open Sans", sans-serif;
    background-color: var(--bkcolor4);
    width: 100%;
    display: flex;
    flex-direction: column;
}

ul li
{
    list-style: none;
}

#title
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px
}

#title h1
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: var(--bkcolor2);
    font-size: var(--ftsize2);
    font-weight: var(--ftweight2);
    color: var(--bkcolor3);
}

.links
{
    width: 90%;
    margin-top: 40px;
}

.links ul
{
    display: flex;
    justify-content: space-around;
    
}

.links ul li a
{
    font-size: var(--ftsize2);
    padding: 15px;
    border-radius: 20px 0;
    background-color: var(--bkcolor3);
    color: var(--bkcolor1);
    transition: all 0.2s;
    
}

.links ul li a:hover
{
    background-color: var(--bkcolor1);
    border-radius: 0 20px;
    color: var(--bkcolor3);
    transition: all 0.2s;
}

main
{
    background-color: var(--bkcolor1); 
}

.exemple
{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.exemple h2
{
    font-size: var(--ftsize2);
    color: var(--txtcolor2);
    font-weight: var(--ftweight2);
}
.images
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
}

.images > img
{
    width: 45dvw;
    transition: all 0.5s;
}

.images > img:hover
{
    width: 50%;
    cursor: pointer;
    transition: all 0.5s;
}

.images > p
{
    padding-top: 30px;
    color: var(--txtcolor2);
}

.images > p > a
{
    font-size: var(--ftsize3);
    padding: 10px;
    border-radius: 10px;
    background-color: var(--bkcolor3);
    color: var(--bkcolor1);
    transition: all 0.2s;
}

.images > p > a:hover
{
    border-radius: 0px;
    transition: all 0.2s;
}

footer
{
    margin-top: 10px;
    padding-right: 20px;
    display: flex;
    justify-content:end;
    align-items: center;
    font-size: var(--ftsize3);
    color: var(--txtcolor3);
    transition: all 0.5s
}

footer p a
{
    
    color: var(--txtcolor3);
}

footer p a:hover
{
    color: var(--txtcolor1);
    transition: all 0.5s;
}