/* RESET */
* 
{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body 
{
    font-family: "Open Sans", sans-serif;
}

ul, ol, li 
{
    list-style: none;
}

.example 
{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* flex-flow: row-reverse wrap; */
}    

.example-item_first 
{
    background-color: #FAA116;
    width: 300px;
    height: 300px;
    /* display: flex;
    justify-content: center; */
    /* flex-grow: 2; */
    /* display: flex;
    order: 3; */
} 
.example-item_second 
{
    background-color: #57c76b;
    width: 300px;
    height: 300px;
    /* display: flex;
    align-items: center; */
    /* flex-shrink: 2; */
    /* display: flex;
    order: 2; */
}
.example-item_third 
{
    background-color: #3B97D3;
    width: 300px;
    height: 300px;
}

@media screen and (min-width: 400px) and (max-width: 600px) 
{
    .example-item_second{
        background-color: #c7578f; 
    }
}